<section class="footerContainer">
  <div class="gauche">
    <div class="gaucheliste">
      <div class="listes">
        <h3>RESSOURCES</h3>
        <br>
        <ul>
          <li>A Props de filmy</li>
           <li>Carrieres</li>
            <li>Durabilité</li>
             <li>Amazon Science</li>
        </ul>
      </div>
      <div class="listes">
        <h3>A PROPOS</h3>
        <br>
        <ul>
          <li>A Props de filmy</li>
           <li>Carrieres</li>
            <li>Durabilité</li>
             <li>Amazon Science</li>
        </ul>
      </div>
      <div class="listes">
        <h3>GENERAL</h3>
        <br>
        <ul>
          <li>A Props de filmy</li>
           <li>Carrieres</li>
           
        </ul>
      </div>
      <div class="listes">
        <h3>BLOG</h3>
        <br>
        <ul>
          <li>A Props de filmy</li>
           <li>Carrieres</li>
           
        </ul>
      </div>
    </div>
    <div class="GauchePara">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus et odio
        at tempora aspernatur! Amet labore corrupti magnam dolorem accusamus
        numquam, quasi, perspiciatis iure veritatis maxime maiores, ratione
        voluptatem voluptas.
      </p>
    </div>
  </div>
  <hr />
  <div class="droite">
      <div class="droiteLogo">
        
         
  <img src="/assets/imgs/et_facebook.png" />
  <img src="/assets/imgs/jam_linkedin-circle.png" />
  <img src="/assets/imgs/et_twitter.png" />
  <img src="/assets/imgs/ic_sharp-alternate-email.png" />
  <!-- <img src="/assets/img/footer.png" width="50" height="75" /> -->
 </div>
      <div class="droiteBtn">
          <button><img src="\assets\imgs\googlePlay 1.png" /></button>
          <button><img src="\assets\imgs\appStore 1.png" /></button>

         
          <p>Lorem ipsum dolor sit amet
             consectetur 
            adipisicing elit. 
            </p>
      </div>
  </div>
</section>
