/* Structuration du body*/
.footerContainer{
  background: #131313;
  display: flex;
  width: 100%;
  height: 50%;
  color: #faf8f5;
  margin: 0 auto;
  margin-top: 20rem;
}
.gaucheliste {
    display: flex;
    flex-direction: row;
 justify-content: space-around;
    }

    img{
    width: 50px;
    height: 50px;

    } 
  .droiteLogo{
      display: flex;
    flex-direction: column;
    justify-content:center;
  }

  .droite{
      display: flex;
      justify-content:center;

  }
   
     /* type d'ecriture du titre*/
h3 {
  font-family: "Lilita One", cursive;
  padding-left: 2.5rem;
}

/* type d'ecriture de la liste et sa taille*/

.GauchePara  {
  font-size: 18px;
  font-family: "Lilita One", cursive;
 padding: 30px;
 text-align:justify;
}

/* Enlever les boutons de la liste*/

li{
  list-style:none ;
}
ul li {
  padding-bottom: 1rem;
}


