.headerContainer{
  background-image: url("../../..\assets\imgs\filmyBG.png");
  background-size: 100%;
  margin-top: 3rem;
  background-repeat: no-repeat;
}

.headerContainer{
   width: 100%;
  height: 100vh;
  display:grid;
  grid-template-columns: 200px 1fr 1fr 1fr  ;
 grid-template-rows: auto 1fr auto;
 padding: 60px;
  
 }




h1 {
  font-family: 'Bebas Neue', cursive;
   font-size: 35px;
    color: white;
   
}
.paraph{
font-size: 18px;
font-family: 'Roboto', sans-serif;
   color: white;

}
    
  .logo{
    width: 450px;
    height: 550;

  }

.sortie{
    background-color: white;
    
}