<section class="headerContainer">
  <div class="logo">
    <img src="\assets\imgs\logo_small 2.png" />
  </div>
  <hr />

  <div class="paraph">
    <h1>LOREM IPSUM DOLOR</h1>
    <P
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. <br />
      Maiores itaque consequuntur, voluptatibus nobis <br />
      exercitationem<br />
      neque odio aliquid reiciendis nesciunt temporibus cumque <br />
      cum quas est magnam veniam sit dolor fugit aliquam.</P
    >
  </div>
</section>

<section class="film">
  <div class="container">
    <input type="radio" name="dot" id="one" />
    <input type="radio" name="dot" id="two" />
    <h2>lES DERNIER FILMS:</h2>
    <br />
    <div class="main-card">
      <div class="cards">
        <div *ngFor="let movie of movies" class="card">
          <div>
            <img
              src="https://image.tmdb.org/t/p/w200{{ movie.poster_path }}"
              alt=""
            />
            {{ movie.title }}
          </div>
        </div>
      </div>
    </div>
    <div class="button">
      <label for="one" class="active one"></label>
      <label for="two" class="two"></label>
    </div>
  </div>
</section>

<!--<ul>
    <li *ngFor=" let movie of movies">
    
        <img src="https://image.tmdb.org/t/p/w200{{movie.backdrop_path}}" alt="">
    </li>

</ul>
-->
