
<section class="headerContainer">
  <div class="logo">
   <img src="\assets\imgs\logo_small 2.png" />
   </div>
   <hr />

    <div class="paraph">
        <h1>LOREM IPSUM DOLOR</h1>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Maiores itaque consequuntur, voluptatibus nobis exercitationem 
            neque odio aliquid reiciendis nesciunt temporibus cumque 
            cum quas est magnam veniam sit dolor fugit aliquam.</P>
    </div>

</section>

<section class="sortie">
    <div class="dernierFilm">
        <h1>LES DERNIEREs SORTIE:</h1>
    </div>
</section>


 <ul>
    <li *ngFor=" let movie of movies">
        <h3>{{ movie.title}}</h3>
        <img {{movie.picture}}> 
       
    </li>

</ul>

